body {
  background-color: #eae9e4;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
}

.header {
  font-size: 64px;
  font-weight: 200;
}

.page-content {
  display: flex;
  justify-content: center;
}

.wrapper {
  min-width: 1024px;
  max-width: 1024px;
  text-align: left;
}
