<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://raw.githubusercontent.com/velusgautam/changelogs/main/_site/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
</head>

<body>



  <main class="page-content" aria-label="Content">
    <div>
      <div class="header">
        Release Board
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </main>



</body>

</html>